{% extends "base.html" %}
{% load static %}



{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="myCarousel" class="carousel slide item " data-ride="carousel">
    <div class="mySlides ">
    <div class="homeHeroNew2 homeHero-1" style="background-image: url({% static 'media/slide_1_background.jpg' %})">
            <div class="homeHeroRowZ"><div class="homeHeroColZ1"><h3 class="xidHomeTitle3 ">BUY GEFORCE RTX™ 30 SERIES</h3><h1 class="xidHomeTitle1 ">GET WATCH DOGS: LEGION PLUS GEFORCE NOW™ MEMBERSHIP*</h1><div class="zoom button button_green"><a class="text_white" href="">LEARN MORE</a></div></div><div class="homeHeroColZ1"><a href=""><img class="zoom homeHeroZimgNew2" src="{% static 'media/slide_1_add_overlay.jpg' %}"/></a></div>          </div>
        </div>
    </div>
    </div>
    <div class="item">
      <div class="mySlides">
  <div class="numbertext">2 / 3</div>
 <div class="homeHeroNew2 homeHero-1" style="background-image: url({% static 'media/slide_2_background.jpg' %}) !important;">
            <div class="homeHeroRowZ"><div class="homeHeroColZ1"><h1 class="xidHomeTitle1 no-margin">GEFORCE RTX 30 SERIES</h1><h3 class="xidHomeTitle3 no-margin">THE ULTIMATE PLAY</h3><h5 class="xidHomeTitle5 no-margin">GeForce RTX™ 30 Series GPUs deliver the ultimate performance for gamers and creators.</h5><div class="zoom  button_green"><a href="" class="text_white">SHOP NOW</a></div></div><div class="homeHeroColZ1"><a href="https://www.xidax.com/geforcertx30series"><img class="zoom homeHeroZimgNew2" src="{% static 'media/slide_2_add_overlay.jpg' %}"/></a></div>          </div>
        </div>
</div>
    </div>
    <div class="item">
      <div class="mySlides">
  <div class="numbertext">3 / 3</div>
  <div class="homeHeroNew2 homeHero-1" style="background-image: url({% static 'media/slide_3_background.jpg' %}) !important;">
            <div class="homeHeroRowZ"><div class="homeHeroColZ1"><h1 class="xidHomeTitle1 no-margin">HAND-BUILT TO PERFECTION</h1><h2 class="xidHomeTitle2 no-margin">LIFETIME
WARRANTY</h2></div><div class="homeHeroColZ1"><a href=""><img class="zoom homeHeroZimgNew2" src="{% static 'media/slide_3_add_overlay.jpg' %}"/></a></div>          </div>
        </div>
    </div>
  </div>
    <div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>
<br>
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>
 <!-- Customize Your Gaming PC -->
 <div id="customize_pc" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img src="{% static 'media/custom_pc.jpg' %}" class="float-right zoom custom_pc" alt="">
        </div>
        <div class="col-sm-12 col-lg-4 my-auto">
            <div class="makeTitle">CUSTOMIZE YOUR AMATERASU GAMING PC</div> 
            <div class="makeText">Xidax PC is built to perfection according to your needs using only top rated components, and backed by a lifetime service guarantee.</div>
            <div class="zoom  button_green"><a href="" class="text_white">Build Yours</a></div>
        </div>
    </div>
 </div>
 <!-- PC type selection -->
 <div id="pc_selection" class="container-fluid" style="padding: 65px;">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <img src="{% static 'media/create_your_own.jpg' %}" class=" zoom pc_sel_mobil mx-auto d-block" alt="">
            <div class="zoom button_green center_item" style="margin-top: 45px !important;"><a href="" class="text_white">Desktop</a></div>
        </div>
        <div class="col-sm-12 col-lg-6 my-auto">
           <img  src="{% static 'media/pre_built.jpg' %}" class=" zoom pc_sel_mobil mx-auto d-block" alt="">
            <div  class="zoom button_green center_item" style="margin-top: 45px !important;"><a href="" class="text_white">Ready to Ship</a></div>
        </div>
    </div>
 </div>















   <script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "NONE";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

{% endblock %}
