{% extends 'base.html' %}
{% load static %}
<!-- js script cannot be postloaded because the function setProgressBar needs this -->
{% block extra_js %}
<script src="{% static 'js/giveaway.js' %}"></script>
{% endblock%}
{% block page_header %}
<div class="container header-container pad_cont">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section class="container-fluid section-container dark_2">
	<div id="poll_cont" class="row">
		<div class="col-sm-10 offset-sm-1 col-lg-8 offset-lg-2">
			<h3> Please cast your vote. </h3>
			<p> What would you like the give away item to be this month? </p>
			<!-- check if user has already voted or is not logged in, sets appropriate message -->
			{% if user.is_authenticated %}
			{% if voted %}
			<h5 class="mt-2 font-weight-bold">You have already voted </h5>
			{% endif %}
			{% else %}
			<h5 class="mt-2"> Please <a href="{% url 'account_login' %}" class="login-request-link">login</a> or <a
					href="{% url 'account_signup' %}" class="login-request-link">REGISTER</a> to vote </h5>
			{% endif %}
			<div class="col-12 d-block">
				<hr>
			</div>
			{% for poll_item in give_away_item_list %}
			<form action="{% url 'add_vote' poll_item.id %}" method="POST">
				{% csrf_token %}
				<!-- Shows giveaway item voting options -->
				<div class="row mt-3">
					<div class="col-10 giveaway_cont">
						<h5>{{ poll_item.give_away_item }} : {{ poll_item.votes }}</h5>
						<img class="giveaway_item homeHeroZimgNew2" src="{{poll_item.image_url}}"/>
                        </div>
					</div>
					<!-- progress bar that calulates and shows live number of votes -->
					<div class="row no-gutters">
						<div class="col-10  mt-2 progress">
							<div id="{{poll_item.id}}" class="progress-bar" role="progressbar" style="width: 25%"
								aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							<script>
								setProgressBar('{{poll_item.votes}}', '{{total_votes}}', '{{poll_item.id}}');
							</script>
						</div>
						<!-- Hide voter button options if user is not logged into account -->
						<div class="col-1 ml-2">
							{% if user.is_authenticated and not voted %}
							<input type="submit" class="btn-sm btn-dark" value="Vote">
                            {% endif%}
                        </div>
						</div>
						<input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
						{% endfor %}
						<!-- Displays votes -->
						<div class="row justify-content-center">
							<div class="col-8 offset-2">
								<p class="h5 mt-5"> Total votes: {{ total_votes }} </p>
								<a href="{% url 'home' %}" class="btn btn-outline-black rounded-0 btn-lg zoom"
									style="background-color: #02BC00 !important;">
									<span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
									<span class="text-uppercase text_white">RETURN HOME</span>
								</a>
							</div>
						</div>
					</div>
				</div>
</section>
{% endblock %}