{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
{% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="login-dark">
            <form method="POST" action="{{ action_url }}">
                <h2 class="logo-font mb-4">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <a style="color: white !important;" class="btn btn-primary btn-block" href="{% url 'account_login' %}">Back to Login</a>
                <input class="btn btn-primary btn-block" type="submit" name="action" value="{% trans 'change password' %}"/>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
            </form>
        </div>
{% endblock %}