{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card border-0">
                                {% if product.image %}
                                <a href="">
                                    <img class="card-img-top" style="width: 70%;" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="">
                                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!-- Site footer refrenced from codepen.com-->
<!-- Site footer -->
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links" id="About">
              <li><a class="text_white focus_p" href="index.html">Home</a></li>
              <li><a class="text_white focus_p" href="#gallery">Gaming PC's</a></li>
              <li><a class="text_white focus_p " href="#contact">Hardware</a></li>
            </ul>
          </div>
          <div class="col-xs-6 col-md-3">
            <h6>Our Mission</h6>
            <p class="focus_p">
              Amaterasu Computers driving philosophy is to deliver to its customers 
              cutting-edge technology and performance along with rock-solid support. 
              As a validation of Amaterasu Computer’s success the company has retained an
               “A+” rating from the Better Business Bureau.
            </p>
          </div>
          <div class="col-sm-12 col-md-6">
            <h6>About Us</h6>
            <p class="text-justify focus_p">
              Amaterasu Computers has been in business since 2002, in that time its reputation as a premiere system integrator has grown exponentially.
              Amaterasu Computers produces some of the fastest gaming computers in the market. It is constantly pushing the boundaries of performance so
              that its customers will enjoy a gaming experience unmatched by any of Amaterasu Computers’s competitors.
            </p>
          </div>
        </div>
        <hr />
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">
              Copyright &copy; Educational Purpose's only.
              <a href="#">K&P Photography</a>
            </p>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li>
                <a class="facebook" href="https://www.facebook.com/"
                  ><i class="fab fa-facebook"></i
                ></a>
              </li>
              <li>
                <a class="twitter" href="https://www.twitter.com/"
                  ><i class="fab fa-twitter-square"></i
                ></a>
              </li>
              <li>
                <a class="dribbble" href="https://www.dribble.com/"
                  ><i class="fas fa-basketball-ball"></i
                ></a>
              </li>
              <li>
                <a class="linkedin" href="https://www.linkdin.com/"
                  ><i class="fab fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
<!-- Site footer -->



{% endblock %}
